
body {
	height: inherit;
	margin: 0;
	font-family: 'Verdana';
	color: #313438;
}

html {
	height: 100%;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

	body, input, textarea, select, figcaption {
		font-size: medium;
		line-height: 1.5em;
	}

	h1, h2, h3, h4, h5, h6, title {
		margin-top: 2em;
	}

	a {
		text-decoration: underline;
		color: hsl(265, 100%, 40%);
	}

	em, i {
		font-style: italic;
	}

	ol, ul {
		list-style: none;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}


/* homepage */
body.homepage {
	height: inherit;
	/* background: rgb(0, 137, 137); */
	background:linear-gradient(140deg,hsl(240, 100%, 25%),hsl(175, 72%, 50%));
	text-align: center;
	justify-content: center;
	display: flex;
}

.container {
	text-align: center;
	justify-content: center;
	display: block;
	flex-direction: column;
}

nav {
	margin-top: 2em;
	margin-bottom: 2em;
}

header {
	text-align: center;
	display: flex;
	flex-direction: column;
	/* background:linear-gradient(90deg,navy,#1084d0); */
	background:linear-gradient(140deg,hsl(240, 100%, 25%),hsl(175, 72%, 50%));
	background-position: 100% 50%;
	background-size: cover;
}

div.blursquare {
	background: rgb(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
	margin: auto;
	width: 90%;
	padding: 0 0 5% 0;
	border-radius: 2em;
	border: 2px dashed;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.blursquare h1{
	color: white;
	text-transform: uppercase;
}

div.blursquare h4{
	color: white;
	font-style: italic;
}


/* Photography */
div.polaroid {
    display: inline-flex;
	flex-direction: column;
    /* background: hsl(42, 75%, 90%); */
    background: hsl(0, 0%, 95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    width: 15vw; /* Dynamic width (% of viewpoint)*/
    max-width: 15vw;
    min-width: 200px;
    aspect-ratio: 1 / 1.2; /* Ensures space for the caption */
    position: relative;
    padding: 5px;
}

	div.polaroid canvas {
		width: 100%;
		aspect-ratio: 1 / 1; /* Ensures a square shape */
		object-fit: cover; /* Keeps proportions and fills the square */
		clip-path: inset(0); /* Square clipping */
		border-radius: 5px;
	}

	a.polaroid_hyperlink {
		text-decoration: none;
		color: #333;
	}

	div.polaroid figcaption {
		flex: 1;
		justify-content: center;
		text-align: center;
		display: flex;
		align-items: center;
	}


/* Ul as action */
ul.actions {
	list-style: none;
	padding-left: 0;
}

	ul.actions li {
		display: inline-block;
		margin: 0 0.75em 0 0.75em;
		padding-left: 0;
	}

		ul.actions li:first-child {
			margin-left: 0;
		}

		ul.actions li:last-child {
			margin-right: 0;
		}

	ul.actions.special {
		text-align: center;
	}

	/* Separator for random stuff*/
	ul.random {
		list-style: none;
		padding-left: 0;
	}

		ul.random li {
			border-top: solid 1px rgb(128, 128, 128, 0.25);
			padding: 10px 0 10px 0;
		}

			ul.random li:first-child {
				border-top: 0;
				padding-top: 0;
				margin-top: 0;
				padding-bottom: 10px;
			}

			ul.random p {
				margin: 0;
			}

			ul.random h3 {
				font-size: 1em;
				font-weight: 600;
				letter-spacing: 0.05em;
				margin: 0;
			}


/* Buttons */
	button {
		transition: all .25s ease-in-out;
		background: hsl(14, 70%, 56%) url("images/overlay.png");
        background-image: linear-gradient(20deg, rgb(255, 217, 0) 0%, rgba(255, 255, 255, 0.004) 100%);
		border: none;
		border-radius: 15px;
		box-shadow: 1px 3px 0rem 0rem rgba(5,5,5,0.5);
		/* box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf; */
		box-sizing: border-box;
		font-size: medium;
		color: hsl(240, 50%, 25%);
		font-weight: 500;
		text-decoration: none;
		text-align: center;
		letter-spacing: 0.1rem;
		line-height: 2em;
		width: fit-content;
		min-height: fit-content;
		padding: 0 2em 0 2em;
		cursor: pointer;
	}

        button:hover {
            background-color: hsl(14, 70%, 70%);
        }

        button:active {
            background-color: hsl(14, 70%, 60%);
        }


    #instagram {
        background: hsl(324, 82%, 56%) url("images/overlay.png");
        background-image: linear-gradient(20deg, rgba(127, 111, 222) 0%, rgba(255, 255, 255, 0.004) 100%);
		color: white;
    }

        #instagram:hover {
            background-color: hsl(324, 82%, 76%);
        }

        #instagram:active {
            background-color: hsl(324, 82%, 66%);
        }

    #github {
        background: hsl(220, 10%, 20%) url("images/overlay.png");
        background-image: linear-gradient(20deg, rgba(150, 150, 150, 0.4) 0%, rgba(255, 255, 255, 0.004) 100%);
		color: white;
    }

        #github:hover {
            background-color: hsl(220, 10%, 40%);
        }

        #github:active {
            background-color: hsl(220, 10%, 30%);
        }


article {
	margin-top: 3em;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

article > h2, article > h3 {
	text-align: center;
}

article > ul > li {
	margin-top: 0.5em;
}


#holder {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	gap: 1em;
	flex-wrap: wrap;
}

/* Software card */
.software {
    max-width: 20em; /* Prevents overflow */
	height: auto;
	width: 20em;
	background: hsl(0, 0%, 95%);
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.53);
	padding: 1em;
	display: flex;
	flex-direction: column;
}

	.software header {
		background: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 1em;
	}

		header .icon {
			height: 64px;
			aspect-ratio: 1 / 1;
		}

		header h3 {
			margin: 0;
			padding-left: 10px;
			align-self: center;
		}

		.software a {
			margin-top: auto;
			display: block;
			text-align: center;
		}


@media screen and (max-width: 900px) {

	ul.actions {
		margin: 2em 0 0 0;
	}

		ul.actions li {
			margin: 15px 0 0 0;
			display: block;
		}

			ul.actions li:first-child {
				margin-top: 0;
			}

	/* Photography */
	div.polaroid {
		display: inline-block;
		min-width: 100px;
	}

	div.polaroid figcaption {
		font-size: 10px;
		color: #333;
	}

	div.blursquare {
		margin-top: 2em;
	}

	article > ul {
		padding-inline-start: 0;
	}

	/* Nav */
	/* Desktop */
	#nav {
		display: none;
	}

	/* Mobile */
	details {
		width: 50%;
		text-align: center;
		display: inline-block;
		border-radius: 0.75em;
		background: rgba(150, 150, 150, 0.2);
		border-radius: 16px;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		border: 1px solid rgba(191, 191, 191, 0.6);
		padding: 0 1em 0 1em;
		margin: 0;
	}

	details > ul {
		padding-inline-start: 0;
	}

	details > ul > li {
		text-align: center;
	}

	details > ul > li > a, details > ul > li > span, details > summary {
		display: block;
		color: #eee;
		color: rgba(255, 255, 255, 0.8);
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.8em;
		letter-spacing: 0.25em;
		padding-top: 1%;
		padding-bottom: 1%;
		transition: all .25s ease-in-out;
		outline: 0;
	}

	details > ul > li:hover > a {
		color: #fff;
	}

	details > ul > li.active > a, details > ul > li.active > span {
		color: #fff;
	}
}


@media screen and (min-width: 900px) {

	/* Mobile */
	details {
		display: none;
	}

	article {
		padding: 0% 15% 5% 15%;
	}

	/* Desktop */
	#nav {
		display: block;
		width: 100%;
		text-align: center;
	}

	#nav > ul {
		display: inline-block;
		border-radius: 0.75em;
		background: rgba(150, 150, 150, 0.2);
		border-radius: 16px;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(191, 191, 191, 0.6);
		padding: 0 1em 0 1em;
		margin: 0;
	}

		#nav > ul > li {
			display: inline-block;
			text-align: center;
			padding: 0 1em 0 1em;
		}

		#nav > ul > li > a, #nav > ul > li > span {
			display: block;
			color: #eee;
			color: rgba(255, 255, 255, 0.8);
			text-transform: uppercase;
			text-decoration: none;
			font-size: 0.8em;
			letter-spacing: 0.25em;
			height: 5em;
			line-height: 5em;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
			outline: 0;
		}

		#nav > ul > li:hover > a {
			color: #fff;
		}

		#nav > ul > li.active > a, #nav > ul > li.active > span {
			color: #fff;
		}
}

/* W98 scrollbar */
::-webkit-scrollbar{
    width:16px
}

::-webkit-scrollbar:horizontal{
    height:17px
}

::-webkit-scrollbar-corner{
    background:#dfdfdf
}

::-webkit-scrollbar-track{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E")
}

::-webkit-scrollbar-thumb{
    background-color:#dfdfdf;
    box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement{display:block}
::-webkit-scrollbar-button:vertical:start{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7v1H6v1H5v1H4v1h7V9h-1V8H9V7H8V6z' fill='%23000'/%3E%3C/svg%3E");
    height:17px
}

::-webkit-scrollbar-button:vertical:end{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
    height:17px
}

::-webkit-scrollbar-button:horizontal:start{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H8v1H7v1H6v1H5v1h1v1h1v1h1v1h1V4z' fill='%23000'/%3E%3C/svg%3E");
    width:16px
}

::-webkit-scrollbar-button:horizontal:end{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4H6v7h1v-1h1V9h1V8h1V7H9V6H8V5H7V4z' fill='%23000'/%3E%3C/svg%3E");
    width:16px
}