
body {
	height: inherit;
	margin: 0;
}

html {
	height: 100%;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

	body, input, textarea, select, figcaption {
		font-family: 'Verdana';
		color: #313438;
		font-size: medium;
		line-height: 1.5em;
	}

	h1, h2, h3, h4, h5, h6, title {
		color: #313438;
		margin-top: 2em;
	}

	a {
		text-decoration: underline;
		color: rgb(131, 40, 255);
	}

	em, i {
		font-style: italic;
	}

	ol, ul {
		list-style: none;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}


/* homepage */
body.homepage {
	height: inherit;
	background: url("images/rosa.webp");
	background-size: cover;
	text-align: center;
	justify-content: center;
	display: flex;
}

.container {
	text-align: center;
	justify-content: center;
	display: block;
	flex-direction: column;
}

nav {
	margin-top: 2em;
	margin-bottom: 2em;
}

header {
	text-align: center;
	display: flex;
	flex-direction: column;
	background: url("images/rosa.webp");
	background-position: 100% 50%;
	background-size: cover;
}

div.blursquare {
	background: rgb(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
	margin: auto;
	width: 90%;
	padding: 0 0 5% 0;
	border-radius: 2em;
	border: 2px dashed;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.blursquare h1{
	color: white;
	text-transform: uppercase;
}

div.blursquare h4{
	color: white;
	font-style: italic;
}


/* Photography */
div.polaroid {
    display: inline-block;
    /* background: hsl(42, 75%, 90%); */
    background: hsl(0, 0%, 95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    width: 15vw; /* Dynamic width (% of viewpoint)*/
    max-width: 15vw;
    min-width: 200px;
    aspect-ratio: 1 / 1.2; /* Ensures space for the caption */
    position: relative;
    padding: 5px;
}

	div.polaroid canvas {
		width: 100%;
		aspect-ratio: 1 / 1; /* Ensures a square shape */
		object-fit: cover; /* Keeps proportions and fills the square */
		clip-path: inset(0); /* Square clipping */
		border-radius: 5px;
	}

	div.polaroid a {
		text-decoration: none;
	}

	/* ehi, questo non cambia figcaption!!!*/
	div.caption {
		font-size: 16px;
		font-weight: bold;
		color: #333;
	}


/* Ul as action */
ul.actions {
	list-style: none;
	padding-left: 0;
}

	ul.actions li {
		display: inline-block;
		margin: 0 0.75em 0 0.75em;
		padding-left: 0;
	}

		ul.actions li:first-child {
			margin-left: 0;
		}

		ul.actions li:last-child {
			margin-right: 0;
		}

	ul.actions.special {
		text-align: center;
	}

	/* Separator for random stuff*/
	ul.random {
		list-style: none;
		padding-left: 0;
	}

		ul.random li {
			border-top: solid 1px rgb(128, 128, 128, 0.25);
			padding: 10px 0 10px 0;
		}

			ul.random li:first-child {
				border-top: 0;
				padding-top: 0;
				margin-top: 0;
				padding-bottom: 10px;
			}

			ul.random p {
				margin: 0;
			}

			ul.random h3 {
				font-size: 1em;
				font-weight: 600;
				letter-spacing: 0.05em;
				margin: 0;
			}


/* Buttons */

	.button i {
		margin-left: auto;
		display: flex;
	}

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 700;
		letter-spacing: 0.1rem;
		text-decoration: none;
		border-radius: 1.25rem;
		cursor: pointer;
		padding: 0 2em 0 2em;
		font-size: 1em;
		min-width: 10em;
		height: auto;
		max-width: 15em;
		line-height: 3em;
		box-shadow: 0.1rem 0.3rem 0rem 0rem rgba(5,5,5,0.5);
		color: rgba(255, 255, 255);;
	}

    input[type="button"].normal,
    input[type="submit"].normal,
    input[type="reset"].normal,
    button.normal,
    .button.normal {
        background: hsl(25, 90%, 55%) url("images/overlay.png");
        background-image: linear-gradient(20deg, rgba(250, 250, 20, 0.6) 0%, rgba(255, 255, 255, 0.004) 100%);
        background-position: 0% 0%;
        background-repeat: repeat;
        background-size: cover;
		min-width: 11em;
    }

        input[type="button"].normal:hover,
        input[type="submit"].normal:hover,
        input[type="reset"].normal:hover,
        button.normal:hover,
        .button.normal:hover {
            background-color: hsl(25, 90%, 80%);
        }

        input[type="button"].normal:active,
        input[type="submit"].normal:active,
        input[type="reset"].normal:active,
        button.normal:active,
        .button.normal:active {
            background-color: hsl(25, 90%, 70%);
        }


    input[type="button"].instagram,
    input[type="submit"].instagram,
    input[type="reset"].instagram,
    button.instagram,
    .button.instagram {
        background: hsl(324, 82%, 56%) url("images/overlay.png");
        background-image: linear-gradient(20deg, rgba(127, 111, 222, 0.6) 0%, rgba(255, 255, 255, 0.004) 100%);
        background-position: 0% 0%;
        background-repeat: repeat;
        background-size: cover;
    }

        input[type="button"].instagram:hover,
        input[type="submit"].instagram:hover,
        input[type="reset"].instagram:hover,
        button.instagram:hover,
        .button.instagram:hover {
            background-color: hsl(324, 82%, 76%);
        }

        input[type="button"].instagram:active,
        input[type="submit"].instagram:active,
        input[type="reset"].instagram:active,
        button.instagram:active,
        .button.instagram:active {
            background-color: hsl(324, 82%, 66%);
        }

    input[type="button"].github,
    input[type="submit"].github,
    input[type="reset"].github,
    button.github,
    .button.github {
        background: hsl(220, 10%, 20%) url("images/overlay.png");
        background-image: linear-gradient(20deg, rgba(150, 150, 150, 0.6) 0%, rgba(255, 255, 255, 0.004) 100%);
        background-position: 0% 0%;
        background-repeat: repeat;
        background-size: cover;
    }


        input[type="button"].github:hover,
        input[type="submit"].github:hover,
        input[type="reset"].github:hover,
        button.github:hover,
        .button.github:hover {
            background-color: hsl(220, 10%, 40%);
        }

        input[type="button"].github:active,
        input[type="submit"].github:active,
        input[type="reset"].github:active,
        button.github:active,
        .button.github:active {
            background-color: hsl(220, 10%, 30%);
        }


article {
	margin-top: 3em;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

article > h2, article > h3 {
	text-align: center;
}

article > ul > li {
	margin-top: 0.5em;
}


#holder {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	gap: 1em;
	flex-wrap: wrap;
}

/* Software card */
.software {
    max-width: 20em; /* Prevents overflow */
	height: auto;
	width: 20em;
	background: hsl(0, 0%, 95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	padding: 1em;
	display: flex;
	flex-direction: column;
}

	.software header {
		background: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 1em;
	}

		header .icon {
			height: 64px;
			aspect-ratio: 1 / 1;
		}

		header h3 {
			margin: 0;
			padding-left: 10px;
			align-self: center;
		}

		.software a {
			margin-top: auto;
			display: block;
		}


@media screen and (max-width: 900px) {

	ul.actions {
		margin: 2em 0 0 0;
	}

		ul.actions li {
			margin: 15px 0 0 0;
			display: block;
		}

			ul.actions li:first-child {
				margin-top: 0;
			}

	/* Photography */
	div.polaroid {
		display: inline-block;
		min-width: 100px;
	}

	div.polaroid figcaption {
		font-size: 10px;
		color: #333;
	}

	div.blursquare {
		margin-top: 2em;
	}

	article > ul {
		padding-inline-start: 0;
	}

	/* Nav */
	/* Desktop */
	#nav {
		display: none;
	}

	/* Mobile */
	details {
		width: 50%;
		text-align: center;
		display: inline-block;
		border-radius: 0.75em;
		background: rgba(150, 150, 150, 0.2);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		border: 1px solid rgba(191, 191, 191, 0.6);
		padding: 0 1em 0 1em;
		margin: 0;
	}

	details > ul {
		padding-inline-start: 0;
	}

	details > ul > li {
		text-align: center;
	}

	details > ul > li > a, details > ul > li > span, details > summary {
		display: block;
		color: #eee;
		color: rgba(255, 255, 255, 0.8);
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.8em;
		letter-spacing: 0.25em;
		padding-top: 1%;
		padding-bottom: 1%;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		outline: 0;
	}

	details > ul > li:hover > a {
		color: #fff;
	}

	details > ul > li.active > a, details > ul > li.active > span {
		color: #fff;
	}
}


@media screen and (min-width: 900px) {

	/* Mobile */
	details {
		display: none;
	}

	/* Desktop */
	#nav {
		display: block;
		width: 100%;
		text-align: center;
	}

	#nav > ul {
		display: inline-block;
		border-radius: 0.75em;
		background: rgba(150, 150, 150, 0.2);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(191, 191, 191, 0.6);
		padding: 0 1em 0 1em;
		margin: 0;
	}

		#nav > ul > li {
			display: inline-block;
			text-align: center;
			padding: 0 1em 0 1em;
		}

		#nav > ul > li > a, #nav > ul > li > span {
			display: block;
			color: #eee;
			color: rgba(255, 255, 255, 0.8);
			text-transform: uppercase;
			text-decoration: none;
			font-size: 0.8em;
			letter-spacing: 0.25em;
			height: 5em;
			line-height: 5em;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
			outline: 0;
		}

		#nav > ul > li:hover > a {
			color: #fff;
		}

		#nav > ul > li.active > a, #nav > ul > li.active > span {
			color: #fff;
		}
}